.form {
  display: flex;
  width: 758px;
  padding: 40px;
  margin-top: 32px;
  border-radius: 30px;
  border: 1px solid var(--CoolGray-20, #DDE1E6);
  box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
  background: var(--Default-White, #FFF);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: center;
}

.form-field{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p{
  padding-left: 18px;
  font-size: 16px;
}

.form-mobile{
  display: none;
}

@media (max-width: 1024px) {
  .form {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .form {
    display: none;
  }

  .container{
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }

  .form-mobile {
    display: flex;
    width: 80%;
    padding: 40px 16px;
    margin-top: 21rem;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    border-radius: 30px;
    border: 1px solid var(--CoolGray-20, #DDE1E6);
    background: var(--Default-White, #FFF);
    box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.20);
    position: relative; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

