
<app-header-details-group></app-header-details-group>
<app-banner
  [backgroundColor]="'#2B5278'" 
  [title]="'Criação de Grupos'" 
  [subtitle]="'Crie seu grupo personalizado'"
  >
</app-banner>

<div class="content">
  <div class="form" fxLayout="column">
    <form fxLayout="row wrap" fxLayoutAlign="space-between">
      <!-- Grupo 1 -->
      <div class="container">
      <div class="form-field" >
        <p>Nome do Grupo</p>
        <mat-form-field>
          <input matInput placeholder="Escreva aqui" formControlName="nomeGrupo">
        </mat-form-field>

        <p>Valor das Parcelas</p>
        <mat-form-field>
          <input matInput placeholder="Digite aqui" formControlName="valorParcelas" type="number">
        </mat-form-field>
      </div>
      <!-- Grupo 2 -->
      <div class="form-field" fxLayout="column">
        <p>Valor Total de Créditos</p>
        <mat-form-field>
          <input matInput placeholder="Digite aqui" formControlName="valorCreditos" type="number">
        </mat-form-field>

        <p>Quantidade de Participantes</p>
        <mat-form-field>
          <input matInput placeholder="Digite aqui" formControlName="qtdParticipantes" type="number">
        </mat-form-field>
      </div>
    </div>
    </form>



    <!-- Switch -->
    <div class="switch">
      <mat-slide-toggle formControlName="grupoFechado">Grupo Fechado</mat-slide-toggle>
    </div>

    <!-- Botão -->
    <div class="button">
      <button mat-raised-button color="primary">CRIAR GRUPO</button>
    </div>
  </div>
</div>

<!--Mobile form-->
<div class="form-mobile">
  <form fxLayout="row wrap" fxLayoutAlign="space-between">
    <div class="container">
    <div class="form-field" >
      <p>Nome do Grupo</p>
      <mat-form-field>
        <input matInput placeholder="Escreva aqui" formControlName="nomeGrupo">
      </mat-form-field>

      <p>Valor das Parcelas</p>
      <mat-form-field>
        <input matInput placeholder="Digite aqui" formControlName="valorParcelas" type="number">
      </mat-form-field>

      <p>Valor Total de Créditos</p>
      <mat-form-field>
        <input matInput placeholder="Digite aqui" formControlName="valorCreditos" type="number">
      </mat-form-field>

      <p>Quantidade de Participantes</p>
      <mat-form-field>
        <input matInput placeholder="Digite aqui" formControlName="qtdParticipantes" type="number">
      </mat-form-field>
    </div>
  </div>
  </form>

  <!-- Switch -->
  <div class="switch">
    <mat-slide-toggle formControlName="grupoFechado">Grupo Fechado</mat-slide-toggle>
  </div>

  <!-- Botão -->
  <div class="button">
    <button mat-raised-button color="primary">CRIAR GRUPO</button>
  </div>
</div>
