<app-header-account-profile></app-header-account-profile>
<div class="wrapper">

  <div class="banner">
    <h2>Editar Conta</h2>
  </div>
  <!-- Desktop form -->
<div class="content">
  <div class="form" fxLayout="column">
    <form fxLayout="row wrap" fxLayoutAlign="space-between">
      <div class="container">
        <div class="form-field-login">
          <p>E-mail</p>
          <mat-form-field>
            <input matInput
                   [formControl]="email"
                   [(ngModel)]="value"
                   (blur)="updateErrorMessage()"
                   required>
            @if (email.invalid) {
              <mat-error>{{errorMessage}}</mat-error>
            }
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <p>Senha</p>
          <mat-form-field>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Digite sua nova senha">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </form>

    <!-- Botão
    <div class="button">
      <button mat-raised-button color="primary">ENTRAR</button>
    </div>
    -->
  </div>
</div>

</div>
