<div class="main">
  <div class="text">
    <p>Nome do grupo: #05 - 10/05/2024</p>
    <span>
      <p>R$ 1000,00</p>
      <p>PENDENTE</p>
    </span>
  </div>
  <div>
    <button class="start" mat-flat-button color="#a52e45"
      style="color: white; background-color: #a52e45; border-radius: 115px; margin-right: 5px;">Baixar Boleto</button>
    <button class="start" mat-flat-button color="#a52e45"
      style="color: white; background-color: #a52e45; border-radius: 115px;">Enviar Comprovante</button>
  </div>
  <br>
  <hr>
</div>