.navbar {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 35px;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid var(--Cinza-grey---darken-1, #444444);
  background: var(--Trigo-Trigo---lighten-4, #FCFBFA);
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(4.449999809265137px);
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.navbar a:hover {
  color: #f44336;
}