<div class="main">

  <div class="text">
    <p>Nome do grupo: #05 - 10/05/2024</p>
    <span>
      <p>R$ 1000,00</p>

    </span>
  </div>
  <div style="display: flex; justify-content: space-between;">
  <div>
    <button class="start" mat-flat-button color="#a52e45"
      style="color: white; background-color: #a52e45; border-radius: 115px; margin-right: 8px;">Baixar Boleto</button>
    <button class="start" mat-flat-button color="#a52e45"
      style="color: white; background-color: #a52e45; border-radius: 115px;">Enviar Comprovante</button>
  </div>
  <p style="font-size: 16px; font-weight: 500; color: #A52E45;">PENDENTE</p>
  </div>
  <mat-divider style="margin-top: 24px; margin-bottom: 24px;"></mat-divider>

</div>
