
<app-header-details-group></app-header-details-group>

<div class="banner">
    <h2>Consórcio Juntos</h2>
    <p>Crie seu grupo personalizado</p>
    <p> Participantes</p>
  </div>
  
  <div class="content">
    <div class="form" fxLayout="column">
      <form fxLayout="row wrap" fxLayoutAlign="space-between">
        <!-- Membros -->
        <div class="container">
          <div class="form-field" >
            <h2>Membros</h2>
              
            <p>Power Guido</p>
            <p>Paula Tejando</p>
            <p>Jalam Bipal</p>
          
          </div>
        </div>
        <!-- Contemplações -->
        <div class="container2">
          <div class="form-field2" >
            <h2>Contemplações</h2>
              
            <p>Power Guido</p>
            <p>Paula Tejando</p>
            <p>Jalam Bipal</p>
            <p>Isadora Pinto</p>
          
          </div>
        </div>
        <div class="buttonContemplado">
          <button mat-raised-button color="primary" >Ver todos</button>
        </div>
        <!-- Sorteios -->
        <div class="container3">
          <div class="form-field3" >
            <h2>Sorteios</h2>
            <p>Data prevista</p> 
            <p>Realizado</p>
            <p>Realizado</p>
            <p>Realizado</p>
          
          </div>
        </div>
      </form>
      <div class="buttonSorteio">
        <button mat-raised-button color="primary" >Ver todos</button>
      </div>

  