<app-header-account-profile></app-header-account-profile>

<div class="wrapper">

  <div class="banner">
    <h2>Editar Perfil</h2>
  </div>
  <!-- Desktop form -->
<div class="content">
  <div class="form" fxLayout="column">
    <form fxLayout="row wrap" fxLayoutAlign="space-between">
      <div class="container">
        <div class="form-field-login">
          <p>E-mail</p>
          <mat-form-field>


          </mat-form-field>
          <p>Senha</p>
          <mat-form-field>

          </mat-form-field>
        </div>
      </div>
    </form>

    <!-- Botão
    <div class="button">
      <button mat-raised-button color="primary">ENTRAR</button>
    </div>
    -->
  </div>
</div>

</div>
