<app-header-details-group></app-header-details-group>

<app-banner
  [backgroundColor]="'#739fa0'"
  [title]="'Detalhes do consórcio'"
  [subtitle]="'15 participantes'"
  [createdDate]="'criado em 21/02/2024'"
  >
</app-banner>

<app-card>
  <div class="content 2">
    <div class="card">
        <div class="container2">
        <div class="form-field2" >
          <h2>Contemplações</h2>
          <div class="space-between">
          <p>Valor Total do Crédito:</p>
          <p>R$300,00</p>
          </div>
          <div class="space-between">
            <p>Quantidade de Parcelas:</p>
            <p>20</p>
          </div>
          <div class="space-between">
            <p>Valor das Parcelas:</p>
            <p>300</p>
          </div>
          <div class="space-between">
            <p>Quantidade de Pessoas:</p>
            <p>20</p>
          </div>
        </div>
      </div>
    <button mat-raised-button color="primary" style="box-shadow: none; margin-top: 24px;">ENTRAR NO GRUPO</button>
    </div>
  </div>
</app-card>
