<app-header-details-group></app-header-details-group>

<div class="wrapper">
  <app-banner-details-groups></app-banner-details-groups>
  <app-form-details-groups></app-form-details-groups>
</div>

<nav class="navbar">
    <a routerLink="/" routerLinkActive="active">Início</a>
    <a routerLink="/detailsgroups" routerLinkActive="active">Grupos</a>
    <a routerLink="/faturas" routerLinkActive="active">Faturas</a>
    <a routerLink="/opcoes" routerLinkActive="active">Opções</a>
</nav>


<footer class="footer">
  <p>Todos os direitos reservados</p>
</footer>
