<div class="wrapper">
<router-outlet></router-outlet>
</div>
<ng-container *ngIf="getShowComponent()">
<nav class="navbar">
    <a routerLink="/" routerLinkActive="active">Início</a>
    <a routerLink="/my-groups" routerLinkActive="active">Grupos</a>
    <a routerLink="/track-payments" routerLinkActive="active">Faturas</a>
    <a routerLink="/opcoes" routerLinkActive="active">Opções</a>
</nav>
</ng-container>
<ng-container *ngIf="getShowComponent()">
</ng-container>
<ng-container *ngIf="getShowComponent()">
<footer class="footer">
  <p>Todos os direitos reservados</p>
</footer>
</ng-container>
