<div class="distancia">
<app-banner-details-groups></app-banner-details-groups>
<app-form-details-groups></app-form-details-groups>
</div>

<nav class="navbar">
  <a routerLink="/" routerLinkActive="active">Início</a>
  <a routerLink="/detailsgroups" routerLinkActive="active">Grupos</a>
  <a routerLink="/faturas" routerLinkActive="active">Faturas</a>
  <a routerLink="/opcoes" routerLinkActive="active">Opções</a>
</nav>

<!-- Ainda não tá legal
<footer class="footer">
  <p>Todos os direitos reservados</p>
</footer>
-->