
/*NAVBAR*/


.navbar {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 290px;
  height: 35px;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid var(--Cinza-grey---darken-1);
  background: var(--Trigo-Trigo---lighten-4, #FCFBFA);
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(4.449999809265137px);
  z-index: 55;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.navbar a:hover {
  color: #E56849 !important;
}

/*NAVBAR*/

/*FOOTER*/

.footer {
  max-width: 91.6%;
  width: 100%;
  padding: 1.5rem 5rem;
  background-color: #EAD8B1;
  text-align: center;
}

.footer p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-bottom: 50px;
}

.distancia{
  padding-top: 32px;
}

/*FOOTER*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
