<div class="card" [style.background-color]="{'background-color': backgroundColor}">
  <p style="margin-bottom: 10px;">Valor máximo: {{ max_price }}</p>
  <hr>
  <h3 style="margin-bottom: 20px;">{{ title }}</h3>
  <p style="margin-bottom: 20px;">Valor total de créditos: <br> {{ totalCreditos }}</p>
  <p style="margin-bottom: 20px;">Valor das parcelas: <br> {{ valorParcelas }}</p>
  <p >Total de parcelas: <br> {{ totalParcelas }}</p>
  <div><button mat-stroked-button>Ver grupos</button></div>
</div>