<!-- Desktop form -->
<div class="content">
  <div class="form" fxLayout="column">
    <form fxLayout="row wrap" fxLayoutAlign="space-between">
      <div class="container">
        <div class="form-field">
          <p>Email</p>
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput
                   placeholder="pat@example.com"
                   [formControl]="email"
                   (blur)="updateErrorMessage()"
                   required>
            @if (email.invalid) {
              <mat-error>{{errorMessage}}</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="form-field">
          <p>Senha</p>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Digite sua senha" formControlName="senha" type="password">
          </mat-form-field>
        </div>
      </div>
    </form>

    <!-- Botão -->
    <div class="button">
      <button mat-raised-button color="primary">Entrar</button>
    </div>
  </div>
</div>

<!-- Mobile form -->
<div class="form-mobile">
  <form fxLayout="row wrap" fxLayoutAlign="space-between">
    <div class="container">
      <div class="form-field">
        <p>Email</p>
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput
                 placeholder="pat@example.com"
                 [formControl]="email"
                 (blur)="updateErrorMessage()"
                 required>
          @if (email.invalid) {
            <mat-error>{{errorMessage}}</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="form-field">
        <p>Senha</p>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Digite sua senha" formControlName="senha" type="password">
        </mat-form-field>
      </div>
    </div>
  </form>

  <!-- Botão -->
  <div class="button">
    <button mat-raised-button color="primary" >Entrar</button>
  </div>
</div>
