<div class="content">
  <div class="form" fxLayout="column">
    <form [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="space-between">
      <!-- Grupo 1 -->
      <div class="container">
        <div class="form-field">
          <p>Nome do Grupo</p>
          <mat-form-field>
            <input matInput placeholder="Escreva aqui" [formControl]="nameGroupControl">
          </mat-form-field>

          <p>Valor das Parcelas</p>
          <mat-form-field>
            <input matInput placeholder="Digite aqui" type="number" [formControl]="parcelValueControl">
          </mat-form-field>
        </div>
        <!-- Grupo 2 -->
        <div class="form-field" fxLayout="column">
          <p>Valor Total de Créditos</p>
          <mat-form-field>
            <input matInput placeholder="Digite aqui"  type="number" [formControl]="creditTotalControl">
          </mat-form-field>

          <p>Quantidade de Participantes</p>
          <mat-form-field>
            <input matInput placeholder="Digite aqui" type="number" [formControl]="totalParticipantsControl">
          </mat-form-field>
        </div>
      </div>


    <!-- Switch -->
    <div class="switch">
      <mat-slide-toggle [formControl]="privateGroupControl">Grupo Fechado</mat-slide-toggle>
    </div>

    <!-- Botão -->
    <div class="button">
      <button mat-raised-button color="primary" (click)="onCreateGroup()">CRIAR GRUPO</button>
    </div>
  </form>
  </div>
</div>

<!-- Formulário para dispositivos móveis -->
<div class="form-mobile">
  <form [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="space-between">
    <div class="container">
      <div class="form-field">
        <p>Nome do Grupo</p>
        <mat-form-field>
          <input matInput placeholder="Escreva aqui" [formControl]="nameGroupControl">
        </mat-form-field>

        <p>Valor das Parcelas</p>
        <mat-form-field>
          <input matInput placeholder="Digite aqui" type="number" [formControl]="parcelValueControl">
        </mat-form-field>

        <p>Valor Total de Créditos</p>
        <mat-form-field>
          <input matInput placeholder="Digite aqui" type="number" [formControl]="creditTotalControl">
        </mat-form-field>

        <p>Quantidade de Participantes</p>
        <mat-form-field>
          <input matInput placeholder="Digite aqui"  type="number" [formControl]="totalParticipantsControl">
        </mat-form-field>
      </div>
    </div>
    <!-- Switch -->
    <div class="switch">
      <mat-slide-toggle [formControl]="privateGroupControl">Grupo Fechado</mat-slide-toggle>
    </div>

    <!-- Botão -->
    <div class="button">
      <button mat-raised-button color="primary" (click)="onCreateGroup()">CRIAR GRUPO</button>
    </div>
  </form>
</div>
