@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FBF5F2;
  --mdc-filled-text-field-active-indicator-height: 0px;
  --mdc-filled-text-field-focus-active-indicator-height: 0px;
  --mat-form-field-state-layer-color: #F3BAC3;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --Cinza-grey---darken-1: #757575;
}

.mdc-text-field--filled {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  width: 100%;
}

.form-field-login .mat-mdc-form-field-infix{
  width: 100% !important;
}

.form-field .mdc-text-field--filled {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  width: 356px;
}

@media (max-width: 1024px) {
  .form-field .mdc-text-field--filled {
    width: 330px;
  }
}

@media (max-width: 768px) {
  .form-field .mdc-text-field--filled {
    width: 100%;
  }

  .mat-mdc-raised-button.mat-primary{
    width: 100% !important;
  }
}

.mat-mdc-raised-button.mat-primary{
  display: flex;
  height: 3rem;
  padding: 0rem 1rem;
  width: 100%;
  border-radius: 2.25rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.form-register .mat-mdc-raised-button.mat-basic{
  color: white;
  background: var(--Vermelho-Indiano-Vermelho-Indiano, #BF5C45);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #BF5C45;
}

html .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #C1425B;
  --mdc-switch-selected-handle-color: #C1425B;
  --mdc-switch-selected-hover-state-layer-color: #C1425B;
  --mdc-switch-selected-pressed-state-layer-color: #C1425B;
  --mdc-switch-selected-focus-handle-color: #A52E45;
  --mdc-switch-selected-hover-handle-color: #A52E45;
  --mdc-switch-selected-pressed-handle-color: #A52E45;
  --mdc-switch-selected-focus-track-color: #F3BAC3;
  --mdc-switch-selected-hover-track-color: #F3BAC3;
  --mdc-switch-selected-pressed-track-color: #F3BAC3;
  --mdc-switch-selected-track-color: #F3BAC3;
}

html .mat-mdc-fab.mat-primary {
  --mdc-fab-container-color: #A52E45;
  --mat-fab-foreground-color: #fff;
  --mat-fab-state-layer-color: #fff;
  --mat-fab-ripple-color: rgba(255, 255, 255, 0.1);
}

.color .mat-mdc-fab.mat-accent {
  --mdc-fab-container-color: #A52E45;
}

.color .mat-mdc-mini-fab.mat-accent {
  --mdc-fab-small-container-color: #A52E45;
}

.register-link{
  .mat-mdc-button:not(:disabled) {
    color: #BF5C45;
}
}

.form-register .mat-stepper-label-position-end {
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}
