@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 120vh;
  background-color: #FBF5F2;
}

.content {
  flex: 1; /* Expande para ocupar todo o espaço restante */
  margin-bottom: 7rem; /* Altura estimada do footer */
}



body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --Cinza-grey---darken-1: #444444;
}




