<app-header-my-groups></app-header-my-groups>
<app-banner
  [backgroundColor]="'#739fa0'"
  [title]="'Meus Grupos'"
  [subtitle]="'Você está em 3 grupos'"
  >
</app-banner>
<div class="main">
  <app-card-groups-consortium style="margin-right: 20px;" max_price="1000" title="Consórcio Compartilhado"
    totalCreditos="R$ 300,00" valorParcelas="R$ 50,00" totalParcelas="6"
    backgroundColor="#C0C0C0"></app-card-groups-consortium>
  <app-card-groups-consortium style="margin-right: 20px;" max_price="10000" title="Consórcio Compartilhado"
    totalCreditos="R$ 300,00" valorParcelas="R$ 50,00" totalParcelas="6"
    backgroundColor="#C0C0C0"></app-card-groups-consortium>
  <app-card-groups-consortium style="margin-right: 20px;" max_price="500" title="Consórcio Compartilhado"
    totalCreditos="R$ 300,00" valorParcelas="R$ 50,00" totalParcelas="6"
    backgroundColor="#C0C0C0"></app-card-groups-consortium>
</div>
